.bg-frogger-grass {
    background-color: #4ade80;
}
.bg-frogger-road {
 background-color: #374151;
}
.bg-frogger-water {
    background-color: #60a5fa;
}
.bg-frogger-frog {
   background-color: #16a34a;
}
.bg-frogger-car1  {
    background-color: #ef4444;
}
.bg-frogger-car2 {
    background-color: #f97316;
}
.bg-frogger-car3 {
    background-color: #8b5cf6;
}
.bg-frogger-log {
  background-color: #854d0e;
} 
.bg-frogger-turtle {
    background-color: #84cc16;
}