.snake-game-grid {
    display: grid;
    gap: 1px;
    border-radius: 0.5rem;
    background-color: blueviolet !important;
    grid-template-columns: none !important;
    overflow: hidden;
  }

  .bg-game-background {
    background-color: #D946EF;
  }
  .snake-cell {
    border-radius: 2px;
    width: 100%;
    height: 100%;
  }

  .controls-btn {
    min-width: 50px;
    min-height: 50px;
  }

.bg-snake-body {
    background-color: #8B5CF6 !important;
}
.bg-snake-head {
    background-color: #D946EF !important;
}
.bg-snake-food {
    background-color: #F97316 !important;
}